<footer>
    <div class="row">
        <div class="column">
            <img id="logo" src="assets/images/logotipo.jpg">
        </div>
        <div class="column">
            <p>NAVEGACIÓN</p>
            <ul >
                <li>
                    <a href="#!">SOBRE NOSOTROS</a>
                </li>
                <li>
                    <a href="#!">DESTINOS</a>
                </li>
                <li>
                    <a href="#!">HOTELES</a>
                </li>

            </ul>
        </div>
        <div class="column">
            <P class="textUppercase">CONTÁCTANOS</P>
                    <P class="info">CALLE SUERO DE QUIÑONES, 4-1</P>
                    <P class="info">C, VENEZUELA, 28002, VENEZUELA</P>
                    <P class="info">TELÉFONO: (0212) 9146329</P>
                    <P class="info"> CORREO: GUACAMAYA@GMAIL.COM </P>
        </div>
        <div class="column">
            <P class="textUppercase">SÍGUENOS</P>
            <div class="row">
                <a href="https://www.instagram.com/?hl=es-la">
                    <img class="icons" src="https://image.flaticon.com/icons/png/128/733/733614.png">
                </a>
                <a href="https://es-la.facebook.com/login/">
                    <img class="icons" src="https://image.flaticon.com/icons/png/128/59/59439.png">
                </a>
                <a href="https://twitter.com/login?lang=es">
                    <img class="icons" src="https://image.flaticon.com/icons/png/128/733/733635.png">
                </a>
            </div>
        </div>
    </div>
</footer>