.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  footer{
      width: 100%;
      position: relative;
      height: fit-content;
      background-color: #2EBFC4;
      bottom: 0;
      font-family: "Montserrat", sans-serif;
      padding: 25px;
      a{
        color: black;
        text-decoration: none;
        
      }
      a:hover{
        font-size: 20px;
      }
  }
  .icons{
      height: 50px;
  
  }