<div class="container1">
        <section class="thumbnail">
            <div class="hero-text">
                <h1>HOTELES</h1>
            </div>
            <img src="../../assets/images/hotels.png" alt="">

        </section>
        <div class="columnas">
            <section class="filtro">
            <h1>Encuentra tu Destino</h1>
            <hr>
            <h3>Sortear Por estados</h3>
            <input type="checkbox">Miranda
            <br>
            <input type="checkbox">Bolivar
            <br>
            <input type="checkbox">Amazonas
            <br>
            <input type="checkbox">Tachira
            <br>
            <input type="checkbox">Merida
            <br>
            <input type="checkbox">Trujillo
            <br>
            <input type="checkbox">Zulia
            <hr>
            <h3>Sortear Por Localizacion</h3>
            <input type="checkbox">Playa
            <br>
            <input type="checkbox">Pico
            <br>
            <input type="checkbox">Nieve
            <br>
            <input type="checkbox">Selva
            <hr>
            <h3>Sortear Por Rating</h3>
            <input type="checkbox">Mas Popular
            <br>
            <input type="checkbox">Menos Popular
            <hr>
            <h3>Sortear Por Precio</h3>
            <input type="checkbox">Mas Costoso
            <br>
            <input type="checkbox">Menos Costoso
            </section>
            <section class="destinos">
                    <div *ngFor="let h of hoteles">
                            <div class="card" style="width: 18rem;">
                                    <img src="{{h.photos}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">{{h.name}}</h5>
                                      <h5>{{h.state}}</h5>
                                      <p class="card-text">{{h.description}}</p>
                                      <h1 >{{h.popularity}}&#11088;	
                                        </h1>
                                      <h1 style="text-align: right;">{{h.price}}$</h1>
                                    </div>
                                    <button type="button" class="btn btn-primary" (click)="openModal(template)">Explorar!</button>

                                    <ng-template #template>
                                            <div class="modal-header">
                                              <h4 class="modal-title pull-left">Informacion</h4>
                                              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <img src="../../assets/images/hotelesmore.png" alt="">
                                            </div>
                                    </ng-template>     
                            </div>                           
                    </div>
            </section>
        </div>
    </div>