
<div class="container">
    <section class="thumbnail">
        <img src="../../assets/images/thumbnail about us.png" alt="">
    </section>
    <section class="guacamaya">
        <img src="../../assets/images/texto about us.png" alt="">
    </section>
    <section class="vision">
        <img src="../../assets/images/vision.png" alt="">
    </section>
    <section class="mision">
        <img src="../../assets/images/mision.png" alt="">
    </section>
    <section class="mision">
        <img src="../../assets/images/montana.png" alt="">
    </section>
</div>
