section{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.mision{
    background-color: white;
}
.guacamaya{
    background-color: white;
}
.thumbnail{
}
.vision{
    background-color: #CFF7F4;
}
.container{
    height: fit-content;
    
}